*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.container{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
}

nav img{
    height: 43px;
    width: 155px;
    padding-left: 75px;
}

nav ul{
    display: flex;
    margin-left: 75px;
    /* margin:0px 7px; */
    
}

ul li{
    list-style: none;
    padding-right: 25px;
    
    margin-top: 16px;
    color: rgb(65, 64, 64);
    font-size: small;
}

.icon{
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 90px;
    margin-right: 90px;
}

.icon i{
    padding-right: 20px;
    overflow: hidden;
}

/* ---------------------=--  HOMe PAGE START     ----------------------------- */

.main{
    overflow: hidden;
}

.main button{
    font-size: 15px;
    padding: 12px 12px 10px 12px;
    background-color: white;
    color: rgb(255, 69, 100);
    border: none;
}


.img img:hover{
    transform:scale(1.07);
    transition: 1.5s;
    cursor: pointer;
}

.info{
    position: absolute;
    top: 40%;
    left: 3%;
    padding: 50px;
    width: 400px;
    font-size: 20px;
    font-family:sans-serif;
    color: white;
}

.img{
    /* position: relative; */
    transition: 1.5s;
    overflow-y: hidden;
    height: 600px;
    /* background-size: cover; */
}



/* ------------------------------    extra line start   ---------------------- */

.offer{
    height: 65px;
    align-items: center;
    padding: 6px 100px;
    background-color: rgb(236, 217, 220);
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
}

.offer .shipping , .offer .delivery , .offer .secure , .offer .pickup{
    display: grid;
    grid-template-columns: 50px 300px;
}

.offer i{
    font-size: 30px;
    color: rgb(247, 23, 61);
    overflow: hidden;
}



/* ----------------------------------   premium strat       ------------------------? */


.box{
    
    /* border: 2px solid black; */
    padding: 5px;
    box-shadow: 6px 6px 10px #888888;
    position: relative;
    overflow-y: hidden;
}


.heading p{
    background-color: white;
    font-size: 43px;
    text-align: center;
    padding: 45px;

}

.box img{
    height: 360px;
    width: 360px;
    /* margin: 6px; */
    background-size: cover;
}

.box p{
    padding: 10px;
}


.collection{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    padding: 0px 70px;
}

.price{
    display: flex;
    justify-content: space-between;
    padding:0px 10px;
}

.price .btn{
    background-color: rgb(218, 4, 39);
    padding: 8px;
}

.box img:hover{
    transform:scale(1.2) ;
    transition: 1.2s;
    cursor: pointer;
}

.box:hover .imgbtn{
    display: block;
    /* background-color: black; */
}


.imgbox{
    overflow-y: hidden;
}

.imgbtn i{
    overflow: hidden;
    padding:0px 2px;
    background-color: rgb(208, 37, 37);
    padding: 6px;
    border-radius: 50%;
    color: white;
    font-size: 15px;
    /* visibility: hidden; */
}

.imgbtn{
    position: absolute;
    left: 79%;
    top: 63%;
    display: none;
}





/* -------------------------     free shipping  -------------------------------- */


.shipping{

    position: relative;

}


.shippingimg{
    height: 180px;
    overflow-y: hidden;
    margin-top: 115px;
}

.shippingimg img:hover{
    transform: scale(1.2);
    transition: 1.5s;
    cursor: pointer;
}
.details{
    position: absolute;
    top: 51%;
    left:40% ;
    overflow-y: hidden;
}

.details button{
    font-size: 15px;
    padding: 10px 12px 8px 12px;
    background-color: white;
    color: rgb(255, 69, 100);
    border: none;
    position: relative;
    left: 28%;
    
}

.details h3{
    text-align: center;
    color: white;
}

.details h1{
    color: white;
}




/* -------------------------------------     review      -------------------------- */

.review h2{
    font-size: 28px;
    margin-bottom: 10px;
}



.review{
    padding: 105px;
    padding-bottom: 0px;

}


.sortbox{
    display: grid;
    grid-template-columns: 150px 150px;
    margin-left: 20px;
}

.sortbox .sort1{
    font-size: 16px;
    margin-right: 10px;
    border: 2px solid black;
    padding: 5px;
}

.sort1 select{
    width: 100%;
    border-radius: 8%;
    margin-top: 5px;
    border: 1.5px solid black;
}
.sort2 select{
    width: 100%;
    border-radius: 8%;
    margin-top: 5px;
    border: 1.5px solid black;
}



.sortbox .sort2{
    font-size: 16px;
    border: 2px solid black;
    padding: 5px;
    padding-left: 10px;
}





/* ---------   reviewboxes   ------------------------------ */


.reviewbox{

    width: fit-content;
    /* height: auto; */
    border: 0.001px solid black;
    padding: 0px 10px ;
    margin-left: 15px;
    overflow-y: hidden;
    box-shadow: 5px 5px 10px rgb(100, 81, 57);
    margin-top: 2rem;
    margin-right: 2rem;
}


.head{
    padding: 5px;
    display: flex;
    justify-content: space-between;
   
    
}

.data{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.data img{
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

.btns{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    padding-bottom: 30px;
}

.reviewboxes{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1px;
    margin-left: 50px;
    margin-right: 50px ;
   
}

.showmore{
    color: rgb(157, 30, 51) ;
     border: none;text-decoration: 
     underline;cursor: pointer;
}

.allreview{
    float: right;
    margin-bottom: 50px;
    margin-right: 75px;
    width: 10%;
    font-weight:900;
    color: rgb(157, 30, 51) ;
}




/* ------------------------------   footer  ---------------------------------- */

.footer{
    background-color: rgb(157, 30, 51) ;
    width: 1300px;
    color: white;
}

.footer hr{
    padding: 0px 100px;
}

.firstblock{
    display: flex;
    justify-content: space-evenly;
    gap: 20px ;
    margin-bottom: 20px;
    padding: 40px 50px 0px 50px;
}

.firstblock .headtitle,.firstblock .contactus {
    width: 25%;
}

.firstblock .help{
    width: 16%;
}

.firstblock .news{
    width: 32%;
}

.headtitle img{
    height: 55px;
    width: fit-content;
    margin-bottom: 20px;
}

.contactus p {
    padding-bottom: 10px;
    font-size: 13px;
}

.contactus i{
    overflow-y: hidden;
    padding-right: 3px;
    padding-left: 10px;
    font-size: 14px;
}

.help h3{
    margin-bottom: 20px;
}

.help p{
    padding-bottom: 10px;
    padding-left: 10px;
}
.news h3{
    margin-bottom: 20px;
}

.newsletter{
    margin-bottom: 20px;
}

.newsletter input{
    padding: 10px;
    width: 230px;
}

.newsletter button{
    width: 100px;
    padding: 10px 2px;
    margin-left: 3px;
}

.secondblock{
    display: flex;
    justify-content: space-between;
    padding-bottom :20px; ;
    padding-left: 20px;
    padding-right: 40px;
    font-size: 13px;
}